/* element selector */
h1 {
  color: rgb(217, 45, 15);
}

/* class selector */
.title {
  font-size: 32px;
}

/* id selector */
#startBtn {
  background: rgb(124, 18, 34);
  color: white;
}

canvas {
  border: 10px solid black;
}
  