body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#myCanvas {
    border: 2px solid black;
    background-color: white;
}